fastapi==0.110.0
uvicorn==0.29.0
python-multipart==0.0.9
pydantic==2.6.4
PyMuPDF==1.23.26
pikepdf==8.14.0
pdf2docx==0.5.8
rembg==2.0.56
onnxruntime==1.17.1
pillow==10.2.0
pillow-heif==0.16.0
numpy==1.26.4
pytesseract==0.3.10
transformers==4.38.2
torch==2.2.1
anyio==4.3.0
lxml==5.1.0
